<!-- <div class="hero-section">
    <div class="hero-container">
        <div class="text-container">
            <h1 [ngClass]="{'fade-in-top': loaded}" class="hero-title">
                I’m what they call a<br> Unicorn Developer®.
            </h1>
            <p [ngClass]="{'fade-in-bottom': loaded}" class="hero-subtitle fade-in-bottom">
                Design+code. Checkout my work ->
            </p>
        </div>
        <div class="action-container">
            <div [ngClass]="{'fade-in-right': loaded}" class="hero-button">
                <span [ngClass]="{'fade-in-bottom': loaded}" class="action-text">About</span>
            </div>
            <div [ngClass]="{'fade-in-right': loaded}" class="hero-button">
                <span [ngClass]="{'fade-in-bottom': loaded}" class="action-text">Work</span>
            </div>
        </div>
    </div>
</div> -->

<div class="hero-container">
    <h1 class="hero-h1">Bringing Ambitious<br> Ideas To Life</h1>
    <p class="hero-subtext one"> Design & Code </p>
    <p class="hero-subtext two">Pedro Taciano. 21. University of São Paulo. Unicorn developer.</p>
    <div class="hero-about-wrapper">
        <div>
            <h4>Unicorn Developer</h4>
            <p>“A professional with a rare combination of creative and technical expertise. Design and code. This unique
                blend of
                skills gives them the ability to bring even the most ambitious ideas to life.”</p>
        </div>
    </div>
</div>