<div class="about-container">
    <h1>About</h1>
    <p class="one">1.</p>
    <div class="subtitle">
        <h2>
            Create.
        </h2>
        <h2>
            Design.
        </h2>
        <h2>
            Code.
        </h2>
    </div>

    <h3 class="about-title">A front-end developer and a fourth-year Information Systems student at the University of São
        Paulo. Always seeking
        opportunities to collaborate with others who share my passion for learning and growing.</h3>
    <div class="about-text">
        <div class="col-1">
            <p>
                As a freelance web developer, I create visually appealing and responsive websites for businesses and
                individuals. I
                currently work as a front-end engineer at a tech company, where I collaborate with designers and
                back-end
                developers to
                deliver a product for more than 164 countries.
            </p>

            <p>
                I am proficient in HTML, CSS & SCSS - also Tailwind - JavaScript, TypeScript, and Angular. I’m currently
                working with
                microfrontend and states management with NgRx. I have experience with design tools like Adobe Photoshop
                and
                Figma as
                well.
            </p>
        </div>
        <div class="col-2">
            <p>
                Recently, I read "Clean Code" by Robert C. Martin, which helped me improve my coding practices and write
                more
                maintainable and readable code. I am currently reading "The Elegant Universe" by Brian Greene. The book
                explores the
                concept of string theory and its potential implications for our understanding of the universe.
            </p>

            <p>
                I find that my reading interests allow me to explore new perspectives and ideas, which ultimately
                informs my
                work and
                approach to problem-solving.
            </p>
        </div>
    </div>
</div>